<div class="overlay add-item-layer">
    <div class="form-wrapper">
        <h3>Add new item</h3>
        <form>
            <div class="field">
                <label for="name">Name</label>
                <input type="text" id="name" data-js-name-input>
            </div>
            <div class="field">
                <label for="price">Price</label>
                <input type="number" id="price" data-js-price-input>
            </div>
            <div class="field">
                <label for="pricePerKg">Price Per Kg</label>
                <input type="number" id="pricePerKg" data-js-price-per-kg-input>
            </div>

            <div class="buttons">
                <button class="btn cancel" data-js-cancel>Cancel</button>
                <button class="btn add" data-js-add>Add</button>
            </div>

        </form>

        

    </div>
    

</div>